
$font-title: filson-soft, sans-serif;
$font-headers: azo-sans-web, sans-serif;
$font-text: itc-avant-garde-gothic-pro, sans-serif;

$color-dark-blue: #2E3747;
$color-red: #E85534;
$color-yellow: #FEC748;
$color-green: #5FB546;
$color-black: #191718;
$color-gold: #B4842A;
$color-white: #FDFDEC;
$color-gray: #E0E5E9;

$color-text: $color-white;
$color-background: $color-dark-blue;
$color-title: $color-white;
$color-nav: $color-white;
