
$font-title: filson-soft, sans-serif;
$font-headers: azo-sans-web, sans-serif;
$font-text: itc-avant-garde-gothic-pro, sans-serif;

$color-hot-pink: #FD3972;
$color-blue: #39ABFD;
$color-dark-blue: #2E3747;
$color-red: #E85534;
$color-yellow: #FEC748;
$color-green: #5FB546;
$color-black: #191718;
$color-white: #F5F7F7;
$color-gray: #E0E5E9;

$color-text: $color-white;
$color-background: $color-dark-blue;
$color-header: $color-hot-pink;
$color-title: $color-white;
$color-nav: $color-white;
$color-buttons: $color-blue;

$box-shadow-main: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$box-shadow-active: 0 0 8px #39abfd93;
$border-main: 1px solid #dfdfe8;
$border-active: 1px solid $color-blue;
